//version pour le desktop
@media screen and(min-width:1280px) {
	//content
	.about {
		// height: fit-content;
		background-image: url("../../../images/last-card-bg-m.webp");
		background-repeat: no-repeat;
		background-position: -100% 100%;
		.home-cont-about-title {
			display: flex;
			justify-content: space-between;
			margin-top: 2vh;
			span {
				display: block;
				background-color: $blue;
				width: 55vw;
				height: 4px;
				margin-right: 10vw;
				margin-top: auto;
				margin-bottom: auto;
			}
			h1 {
				font-family: $ff-raleway;
				font-weight: $fw-light;
				font-size: rem(100);
				text-transform: none;
				color: $blue;
				display: inline-block;
				width: fit-content;
				margin-right: auto;
			}
		}
		.home-cont-about {
			// height: 170vh;
			position: relative;
			.home-about-para-d {
				display: none;
			}
			.home-about-para-d-2 {
				//content
				display: flex;
				.d2-cont {
					display: flex;
					justify-content: space-between;
					.col-g {
						display: flex;
						flex-direction: column;
						width: 45%;
						.cont-p-top {
							p {
								&:first-child {
									margin-top: 0;
								}
								font-family: $ff-poppins;
								font-weight: $fw-regular;
								font-size: rem(16);
								line-height: rem(26);
							}
						}
						.boite-grise {
							position: absolute;
							width: 65%;
							background-color: $gray;
							top: 458px;
							height: 800px;
							left: 0;
							z-index: 55;
							//pourquoi simplicite
							h2 {
								margin-top: 150px;
								margin-left: 5vw;
								font-family: $ff-raleway;
								font-weight: $fw-extra-bold;
								font-size: rem(30);
								span {
									color: $blue;
								}
							}

							p {
								margin-left: 5vw;
								width: 85%;
								font-family: $ff-poppins;
								font-weight: $fw-regular;
								font-size: rem(16);
								line-height: rem(26);
								color: $black;
							}
						}
					}
					.col-d {
						width: 50%;
						.cont-img {
							position: relative;
							img {
								max-width: 100%;
								height: 1258px;
								margin-bottom: 0;
								// margin-right: 0;
							}
							.col-droite {
								position: absolute;
								@media screen and(max-height:1024px) {
									height: 150vh;
								}
								@media screen and(max-height:900px) {
									height: 200vh;
								}
								@media screen and(max-height:800px) {
									height: 200vh;
								}
								@media screen and(max-height:750px) {
									height: 250vh;
								}
								@media screen and(max-height:700px) {
									height: 310vh;
								}
								@media screen and(max-height:600px) {
									height: 310vh;
								}

								height: 200vh;
								width: 32vw;
								left: calc(30%);
								top: 99.5%;
								bottom: auto;
							}
						}
					}
				}
				justify-content: space-between;
				width: 100%;
				padding-left: 5vw;
				padding-right: 2.5vw;

				.home-cont-croix {
					width: fit-content;

					height: auto;
					position: absolute;
					left: calc(100% - 2vw);
					bottom: 0;
					// top: 0;
					span {
						display: block;
						background-color: $blue;
						width: 4vw;
						height: 4px;
						position: relative;
						// top: 17.8vh;
						// bottom: 0;
						// left: 100%;
						z-index: 40;

						&:first-child {
							//test
							transform: rotate(90deg) translateX(3px);
						}
						&:last-child {
							//test
							position: relative;
						}
					}
				}
			}
		}
		.home-cont-voiture {
			position: relative;

			margin-top: 0px;
			@media screen and(max-height:740px) {
				margin-top: 280px;
			}

			.voiture-m {
				overflow-x: hidden;
				img {
					// position: absolute;
					display: block;
					max-width: 880px;
					max-height: 492px;
					margin-left: auto;
					margin-right: -65vw;
				}
				position: relative;
				top: 150px;
			}
			.col-left {
				display: flex;
				width: 100%;
				position: relative;
				// overflow: hidden;
				h2 {
					position: absolute;
					top: -400px;
					font-family: $ff-raleway;
					font-size: rem(100);
					text-transform: none;
					font-weight: $fw-light;
					color: $blue;
					display: inline-block;
					margin-left: 5vw;
				}
				span {
					position: absolute;
					overflow: hidden;
					display: block;
					width: 45vw;
					top: -250px;
					left: auto;
					right: 0;
					background-color: $blue;
					height: 2px;
				}
			}
		}
		.home-cont-cartes {
			margin-top: -150px;
			display: flex;
			width: 100%;
			height: fit-content;
			flex-direction: column;
			.carte {
				height: fit-content;
				width: 80%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				.header {
					height: 100px;
					// height: auto;
					background-color: $blue;
					width: 15vw;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					img {
						width: 5vw;
						max-height: 65px;
						margin-right: 2vw;
					}
				}

				.contenu {
					width: 60%;
					margin-top: 30px;
					margin-bottom: 50px;
					p {
						width: 65%;
					}
					.first-p {
						padding-top: 0px;
						margin-top: 0px;
						color: $black;
						font-family: $ff-poppins;
						font-weight: $fw-bold;
						font-size: rem(25);
						line-height: rem(24);
						margin-left: 5vw;
					}
					.last-p {
						color: $black;
						font-family: $ff-poppins;
						font-size: rem(16);
						font-weight: $fw-regular;
						line-height: rem(26);
						margin-left: 5vw;
						//test
					}
				}
				&:nth-child(1) {
					.contenu {
						position: relative;
						top: 05px;
					}
				}
				&:nth-child(2) {
					.contenu {
						position: relative;
						top: 15px;
					}
				}
				&:nth-child(3) {
					.contenu {
						position: relative;
						top: 45px;
					}
				}
				&:nth-child(4) {
					.contenu {
						position: relative;
						top: 30px;
					}
				}
				&:nth-child(2) {
					margin-top: 30px;
					// background-color: red;
				}
			}
			.last-card {
				margin-bottom: 150px;
			}
		}
	}
}
