//version mobile ici
@media screen and(max-width:767px) {
	footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 5;
		background-color: $black;
		height: fit-content;
		.cont-flex-t {
			display: none;
		}
		// .rm-cont-mobile {
		// 	display: flex;
		// 	flex-direction: column;
		// }

		.cont-scroll {
			span {
				display: block;
				width: 15vw;
				height: 2px;
				background-color: $blue;
				transform: rotate(90deg);
			}
			p {
				width: fit-content;
				margin-right: auto;
				margin-left: auto;
				margin-top: 50px;
				color: white;
				font-family: $ff-poppins;
				font-size: rem(16);
				font-weight: $fw-medium;
			}
		}
		.rm-cont-mobile {
			h2 {
				color: $blue;
				font-size: rem(25);
				font-weight: $fw-bold;
				font-family: $ff-raleway;
				text-transform: none;
				text-align: left;
				margin-left: 10vw;
				margin-right: auto;
			}
			ul {
				padding: 0;
				margin-left: 10vw;
				margin-right: auto;
				li {
					display: flex;
					align-items: center;
					img {
						width: 3vw;
						height: fit-content;
						margin-right: 10px;
					}
					p {
						color: white;
						font-family: $ff-poppins;
						font-size: rem(12);
						font-weight: $fw-regular;
						line-height: rem(20);
						a {
							&:link {
								color: #fff;
							}
							&:visited {
								color: #fff;
							}
							// background-color: red;
						}
					}
				}
			}
			.hour {
				display: flex;
				flex-direction: column;

				margin-right: auto;
				margin-left: 10vw;
				h2 {
					width: fit-content;
					display: block;
					// display: inline-block;
					margin-right: auto;
					margin-left: 0;
					color: $blue;
					font-family: $ff-raleway;
					font-weight: $fw-bold;
					font-size: rem(15);
				}
				p {
					color: #fff;
					font-family: $ff-poppins;
					font-weight: $fw-regular;
					line-height: rem(26);
					font-size: rem(12);
				}
			}
			.cont-footer-line {
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: flex-start;
				margin-top: 20px;
				margin-bottom: 50px;
				.footer-line-rm {
					margin-left: 10vw;
					background-color: $gray;
					width: 12vw;
					height: 1px;
					margin-right: 10px;
				}
				a {
					font-family: $ff-poppins;
					font-weight: $fw-medium;
					line-height: rem(26);
					font-size: rem(12);
					&:link {
						color: $blue;
					}
					&:visited {
						color: $blue;
					}
				}
			}
			.cont-linkedin {
				margin-bottom: 50px;
				display: flex;
				flex-direction: column;
				align-items: center;
				img {
					width: fit-content;
					margin-bottom: 50px;
				}
				span {
					width: 100vw;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.15);
				}
			}
		}
		.cont-petit-lien {
			div {
				display: flex;
				justify-content: center;
				a {
					font-family: $ff-raleway;
					color: white;
					font-size: rem(10);
					line-height: rem(22);
					font-weight: $fw-regular;
					&:first-child {
						margin-right: 10px;
					}
					&:last-child {
						margin-left: 10px;
					}
				}
			}
			p {
				font-family: $ff-raleway;
				color: white;
				font-size: rem(10);
				line-height: rem(22);
				font-weight: $fw-regular;
				text-align: center;
				a {
					font-weight: $fw-bold;
				}
			}
			img {
				display: block;
				margin-top: 50px;
				width: 30vw;
				// text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 50px;
			}
		}
	}
}

//version tablette ici
@media screen and (min-width: 768px) {
	//du stuck
	.footer-rm {
		margin-top: -380px;
	}
	footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 5;
		background-color: $black;
		height: fit-content;

		.cont-scroll {
			span {
				display: block;
				width: 20vw;
				height: 2px;
				background-color: $blue;
				transform: rotate(90deg);
				// margin-bottom: 125px;
			}
			p {
				width: fit-content;
				margin-right: auto;
				margin-left: auto;
				margin-top: 125px;
				color: white;
				font-family: $ff-poppins;
				font-size: rem(16);
				font-weight: $fw-medium;
			}
		}
		.rm-cont-mobile {
			display: none;
		}
		.cont-flex-t {
			display: flex;
			width: 90%;
			justify-content: space-between;
			// margin-left: auto;
			// margin-right: auto;
			.col-1 {
				display: flex;
				flex-direction: column;
				align-items: center;
				// justify-content: center;
				h2 {
					color: $blue;
					font-size: rem(20);
					font-weight: $fw-bold;
					font-family: $ff-raleway;
					text-transform: none;
					text-align: left;
					// margin-left: 10vw;
					margin-right: auto;
					margin-bottom: 5px;
				}
				ul {
					padding: 0;
					// margin-left: 10vw;
					margin-right: auto;
					margin-top: 5px;

					li {
						display: flex;
						align-items: center;
						margin-bottom: 5px;
						img {
							width: 1.5vw;
							height: fit-content;
							margin-right: 10px;
						}
						p {
							color: white;
							font-family: $ff-poppins;
							font-size: rem(12);
							font-weight: $fw-regular;
							line-height: rem(20);
							a {
								&:link {
									color: #fff;
								}
								&:visited {
									color: #fff;
								}
								// background-color: red;
							}
						}
					}
				}
			}
			.col-2 {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-left: auto;
				.hour {
					display: flex;
					flex-direction: column;

					// margin-right: auto;
					margin-left: auto;
					h2 {
						width: fit-content;
						display: block;
						// display: inline-block;
						// margin-right: auto;
						margin-left: auto;
						color: $blue;
						font-family: $ff-raleway;
						font-weight: $fw-bold;
						font-size: rem(13);
						margin-top: 25px;
					}
					p {
						color: #fff;
						font-family: $ff-poppins;
						font-weight: $fw-regular;
						line-height: rem(26);
						font-size: rem(12);
					}
				}
				.cont-footer-line {
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: flex-start;
					margin-top: 20px;
					margin-bottom: 50px;
					.footer-line-rm {
						// margin-left: 10vw;
						background-color: $gray;
						width: 12vw;
						height: 1px;
						margin-right: 10px;
					}
					a {
						font-family: $ff-poppins;
						font-weight: $fw-medium;
						line-height: rem(26);
						font-size: rem(12);
						&:link {
							color: $blue;
						}
						&:visited {
							color: $blue;
						}
					}
				}
				.cont-linkedin {
					margin-bottom: 50px;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					img {
						width: fit-content;
						margin-bottom: 50px;
					}
				}
			}
		}
		span.separator {
			width: 100vw;
			height: 1px;
			// margin-right: auto;

			background-color: rgba(255, 255, 255, 0.15);
		}
		.cont-petit-lien {
			div {
				display: flex;
				justify-content: center;
				a {
					font-family: $ff-raleway;
					color: white;
					font-size: rem(10);
					line-height: rem(22);
					font-weight: $fw-regular;
					&:first-child {
						margin-right: 10px;
					}
					&:last-child {
						margin-left: 10px;
					}
				}
			}
			p {
				font-family: $ff-raleway;
				color: white;
				font-size: rem(10);
				line-height: rem(22);
				font-weight: $fw-regular;
				text-align: center;
				a {
					font-weight: $fw-bold;
				}
			}
			img {
				display: block;
				margin-top: 50px;
				width: 30vw;
				// text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 50px;
			}
		}
	}
}

//verison desktop ici
@media screen and(min-width:1280px) {
	//du stuck
}
