//version pour le desktop
.home-a {
	color: $blue;
}

@media screen and (min-width:1280px) {

	//content
	h1,
	h2,
	h3,
	h4 {
		font-size: rem(50);
	}

	.lang-switch {
		position: fixed;
		left: auto;
		right: 0;
		cursor: pointer;
		top: 50vh;
		z-index: 15;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $blue;
		width: 28px;
		height: 69px;
		color: white;

		font-family: $ff-poppins;
		font-weight: $fw-medium;
		font-size: rem(10);
		letter-spacing: 0.04em;

		a {
			color: white;
		}
	}

	.bg-home {
		background-image: url("../images/bg-road-d.webp");
		background-attachment: fixed;
		background-repeat: no-repeat;

		width: 100%;
		height: 100vh;
	}

	header {
		nav {
			.nav-m {
				display: none;
			}

			.nav-d {
				display: flex;
				position: fixed;
				width: 100%;
				z-index: 88;
				justify-content: space-between;
				height: 120px;
				transition: all ease 200ms;

				.cont-logo {
					//bdfkjhbadskjh
					display: flex;
					justify-content: center;
					align-items: center;

					margin-left: 5vw;

					img {
						max-width: 100%;
						height: auto;
					}
				}

				.cont-nav {
					display: flex;

					// margin-right: 5vw;
					nav {
						display: flex;

						.hover-blue {
							display: flex;
							align-items: center;
							height: 13vh;
							border-top: solid 10px $blue;

							a {
								font-weight: $fw-bold;
								color: $blue;
							}
						}

						.scrolled {
							li {
								a {
									color: #000;
								}
							}

							.last-li-d {
								a {
									color: white;
								}
							}
						}

						ul {
							display: flex;
							list-style: none;
							// height: 110px;
							justify-content: center;
							align-items: center;
							position: relative;
							// padding-top: 0;
							// padding-bottom: 0;
							padding-top: 3vh;

							// margin-bottom: 0;
							//ca c'est pour la tite barre bleu en haut
							.magic-line {
								position: absolute;
								z-index: 180;
								left: 0;
								//left: 90px;
								//background-color: $blue;
								//top: -1.7vh;
								//width: 69px;
								//height: 4px;
								transition: all ease 0.2s;
								// transition-delay: 0.2s;
							}

							.magic-line1 {
								position: absolute;
								z-index: 180;
								left: 90px;
								background-color: $blue;
								top: -16px;

								width: 69px;
								height: 4px;
								// transition: all ease 0.4s;
							}

							.magic-line2 {
								position: absolute;
								z-index: 180;
								left: 209px;

								background-color: $blue;
								// top: -1.7vh;
								top: -16px;
								width: 162px;
								// transition: all ease 0.4s;
								height: 4px;
							}

							.magic-line3 {
								position: absolute;
								z-index: 180;
								left: 421px;
								// transition: all ease 0.4s;
								background-color: $blue;
								// top: -1.7vh;
								top: -16px;
								width: 87px;
								height: 4px;
							}

							.magic-line4 {
								position: absolute;
								z-index: 180;
								left: 558px;
								// transition: all ease 0.4s;
								background-color: $blue;
								// top: -1.7vh;
								top: -16px;
								width: 73px;
								height: 4px;
							}

							.magic-line5 {
								position: absolute;
								z-index: 180;
								left: 680px;
								// transition: all ease 0.4s;
								background-color: $blue;
								// top: -1.7vh;
								top: -16px;
								width: 179px;
								height: 4px;
							}

							.active-nav {
								// padding-top: 47px;
								// padding-top: auto;
								display: flex;
								align-items: center;

								height: 13vh;
								border-top: solid 4px $blue;

								a {
									font-weight: $fw-bold;
									color: $blue;
								}

								// span {
								// 	display: block;
								// 	position: relative;
								// 	top: -3.6vh;
								// 	background-color: $blue;
								// 	width: inherit;
								// 	height: 3px;
								// }
								// a {
								// 	font-weight: $fw-bold;
								// 	color: $blue;
								// }
							}

							li {
								// display: block;
								height: inherit;
								margin-left: 50px;
								// padding-top: 50px;
								// padding-bottom: 30px;

								&:first-child {
									margin-left: 0;

									// margin-right: 0px;
									// background-color: red;
								}

								a {
									text-transform: uppercase;
									font-family: $ff-poppins;
									font-weight: $fw-medium;
									font-size: rem(13);
									letter-spacing: 0.04em;
									color: white;

									&:hover {
										text-decoration: none;
									}
								}
							}

							.last-li-d {
								div {
									display: flex;
									// width: 2%;
									height: 50px;
									width: fit-content;
									align-items: center;
									background-color: $blue;
									padding-left: 15px;
									padding-right: 5vw;

									//hover sur le bleu de contact
									&:hover {
										img {
											position: relative;
											left: 0;
											animation: swoop forwards ease-in-out 1000ms;
										}
									}

									@keyframes swoop {
										0% {
											left: 0;
											opacity: 1;
										}

										30% {
											left: 10px;
											opacity: 0;
										}

										51% {
											left: -15px;
											opacity: 0;
										}

										100% {
											left: 0;
											opacity: 1;
										}
									}

									img {
										display: block;
										margin: auto;
										// max-width: 100%;
										width: 14px;
										height: 9px;
										margin-right: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}