@media screen and(max-width:767px) {
	.lang-switch {
		display: none;
	}
	h1,
	h2,
	h3,
	h4 {
		font-size: rem(50);
		// margin-top: 50vh;
	}
	.focus {
		&:hover {
			// color: transparent;
			text-decoration: none;
			outline: none;
			//background-color: red;
		}
		&:focus {
			outline: none;
		}
	}

	.bg-home {
		// overflow: hidden;
		background-image: url("../images/bg-road-d.webp");
		background-position: 25% 0;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
	}
	header {
		width: 100%;
		z-index: 10;
		nav {
			z-index: 5;
			height: 10vh;
			// position: sticky;
			.nav-d {
				display: none;
			}
			.nav-m,
			.cont-m {
				display: flex;
				justify-content: space-between;
				align-items: center;
				// overflow-x: hidden;
				height: inherit;
				position: fixed;
				z-index: 10;
				padding-top: 2vh;
				padding-bottom: 2vh;

				height: 12vh;
				// top: 10vh;
				width: 100%;
				// margin-top: 2vh;
				img {
					// margin-top: auto;
					// margin-bottom: auto;
					margin-left: 10vw;
					width: 30vw;
					height: auto;
					// filter: blur(-5px);
				}
				.animate-hamOn1 {
					animation: on1 forwards ease 500ms;
				}
				.animate-hamOn2 {
					animation: on2 forwards ease 500ms;
				}
				.animate-hamOff1 {
					animation: off1 forwards ease 500ms;
				}
				.animate-hamOff2 {
					animation: off2 forwards ease 500ms;
				}
				@keyframes on1 {
					0% {
						top: 0px;
						transform: rotate(0deg);
					}
					50% {
						// background-color: red;
						top: 10px;
						transform: rotate(0deg);
					}
					90% {
						top: 10px;
					}
					100% {
						top: 10px;
						transform: rotate(45deg) translateY(-2.5px);
					}
				}
				@keyframes on2 {
					0% {
						top: 0px;
						transform: rotate(0deg);
					}
					50% {
						// background-color: red;
						top: -5px;
						transform: rotate(0deg);
					}
					90% {
						top: -5px;
					}
					100% {
						top: -5px;
						transform: rotate(-45deg) translateY(2.5px);
					}
				}
				@keyframes off1 {
					0% {
						top: 10px;
						transform: rotate(45deg) translateY(-2.5px);
					}

					50% {
						top: 10px;
						transform: rotate(0deg) translateY(0px);
						// transform: rotate(45deg);
					}

					// 70% {
					// 	top: 10px;
					// }

					100% {
						top: 0px;
						transform: rotate(0deg) translateY(0px);
						// transform: rotate(0deg) translateY(0px);
					}
				}
				@keyframes off2 {
					0% {
						top: -5px;
						transform: rotate(-45deg) translateY(2.5px);
					}

					50% {
						top: -5px;
						transform: rotate(0deg) translateY(0px);
						// transform: rotate(45deg);
					}

					// 70% {
					// 	top: 10px;
					// }

					100% {
						top: 0px;
						transform: rotate(0deg) translateY(0px);
						// transform: rotate(0deg) translateY(0px);
					}
				}
				.cont-ham {
					// display: block;
					width: 30px;
					height: 30px;
					margin-right: 10vw;
					margin-top: 5vw;
					// margin: auto;

					span {
						display: block;
						width: 30px;
						height: 2px;
						position: relative;
						background-color: white;
						&:first-child {
							margin-bottom: 10px;
						}
					}
					.pain2 {
						background-color: $blue;
					}
				}
			}

			//toggle du menu c<'est ici que ca se joue
			.toggle-off {
				display: none;
			}
			.blanc-nav {
				background-color: white;
			}

			.toggle-on {
				display: flex;
				flex-direction: column;
				height: fit-content;
				background-color: white;
				position: fixed;
				top: 9.9vh;
				height: 100%;
				width: 100%;
				overflow: hidden;
				border: none;
				z-index: 10;
				.lang {
					font-weight: $fw-extra-bold;
					font-family: $ff-raleway;
					font-size: rem(15);
					margin-top: auto;
					margin-bottom: 5vh;
					width: 80%;
					margin-left: auto;
					margin-right: auto;
					position: relative;
					top: 0vh;
					color: $blue;
					// left: 10vw;
					bottom: 0;
					&:focus {
						outline: none;
					}
				}
				nav {
					height: fit-content;
					margin-top: 10vh;
					// margin-bottom: 80%;

					ul {
						//margin-top: 5vh;
						padding-left: 0%;
						list-style: none;
						margin-left: auto;
						margin-right: auto;
						width: 80%;
						z-index: 2;
						overflow: hidden;
						$slideS: 300ms;

						li {
							position: relative;
							width: 80%;
							margin-bottom: 10px;
							text-transform: uppercase;
							&:nth-child(1) {
								left: 100%;
								opacity: 0;
								animation: slideIn forwards ease $slideS;
								animation-delay: 500ms;
							}
							&:nth-child(2) {
								left: 100%;
								opacity: 0;
								animation: slideIn forwards ease $slideS;
								animation-delay: 650ms;
							}
							&:nth-child(3) {
								left: 100%;
								opacity: 0;
								animation: slideIn forwards ease $slideS;
								animation-delay: 800ms;
							}
							&:nth-child(4) {
								left: 100%;
								opacity: 0;
								animation: slideIn forwards ease $slideS;
								animation-delay: 950ms;
							}
							&:nth-child(5) {
								left: 100%;
								opacity: 0;
								animation: slideIn forwards ease $slideS;
								animation-delay: 1100ms;
							}
							@keyframes slideIn {
								0% {
									left: 100%;
									opacity: 0;
								}
								100% {
									left: 0;
									opacity: 1;
								}
							}
							a {
								letter-spacing: 1%;
								color: $black;
								font-family: $ff-poppins;
								font-size: rem(20);
								font-weight: medium;
							}
						}
						.activePage {
							a {
								color: $blue;
								font-weight: medium;
							}
						}
					}
				}
			}
		}
	}
}
//version tablette ici
@media screen and(min-width:768px) {
	//tu dois reprendre des choses de mobile ici
}
//version desktop ici
@media screen and(min-width:1280px) {
	//principalement gossage depuis la version tablette
	//mais pour le debut (7 avril 2022) on n'a pas la verison tablette
	//donc fait juste le faire via la maquette
}
