//version pour le desktop
@media screen and (min-width:1280px) {

	//content
	.hero {
		position: relative;
		top: 0vh;
		z-index: 5;
		height: 90vh;

		.hero-d {
			height: inherit;
			width: 50%;

			background: linear-gradient(180deg,
					rgba(0, 0, 0, 0) 5.51%,
					rgba(0, 0, 0, 0.85) 100%);
			display: flex;
			flex-direction: column;
			margin-left: auto;
			padding-left: 5vw;
			align-items: center;
			padding-bottom: 15px;

			.home-scroll-down {
				display: block;
				position: absolute;
				top: 84vh;
				left: 46%;
				background-color: #fff;
				width: 8vw;
				height: 2px;
				transform: rotate(90deg);
				animation: scroll 3.5s ease-in-out infinite;
				// animation-delay: 2.5s;
				clip-path: inset(0 100% 0% 0);
			}

			@keyframes scroll {
				0% {
					clip-path: inset(0 100% 0% 0);
				}

				40% {
					clip-path: inset(0 0% 0 0);
				}

				70% {
					clip-path: inset(0% 0% 0% 100%);
				}

				100% {
					clip-path: inset(0% 0% 0% 100%);
				}
			}
		}

		h1 {
			font-family: $ff-raleway;
			font-size: rem(50);
			font-weight: $fw-bold;
			text-transform: none;
			width: 80%;
			display: block;
			padding-top: 0;
			margin-top: 35vh;
			color: white;
			// margin-left: auto;
			margin-right: 10vw;
			line-height: auto;
		}

		$transition-bezier: 1, 0, 0, 1;
		$transition-len: 0.35s;
		$pink: #f93195;

		.frame-d {
			position: relative;
		}

		.home-call {
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;

			// margin-left: 5vw;
			// margin-right: 30vw;
			width: 16vw;
			border: $blue 2px solid;
			height: 61.9px;
			// box-shadow: inset 0px 0px 0px 2px $blue;
			padding: 0;
			// padding-top: 20px;
			margin-top: 1vh;
			text-transform: uppercase;
			font-family: $ff-poppins;
			font-size: rem(12);
			font-weight: medium;
			letter-spacing: 14%;
			z-index: 20;
			transition: all $transition-len cubic-bezier($transition-bezier);

			&:hover {
				color: white;
				z-index: 5;
				text-decoration: none;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				transition: all $transition-len cubic-bezier($transition-bezier);
			}
		}

		.btn-color {
			// border-color: $pink;
			// color: $pink;

			&::before,
			&::after {
				background: $blue;
			}
		}

		.btn-l-r {
			&::after {
				height: 58px;
				width: 0;
				top: 0px;
			}

			&:hover::after {
				@media screen and (min-width:1280px) {
					width: 15.8vw;
				}

				// @media screen and (min-width:1350px) {
				// 	width: 15.2vw;
				// }
				// @media screen and (min-width:1500px) {
				// 	width: 15.7vw;
				// }
				width: 13.5vw;
				z-index: -1;
			}

			&::after {
				left: 0vw;
			}
		}
	}
}