//version mobile
@media screen and (max-width:767px) {
	.hero {
		position: relative;
		top: -12vh;
		height: 100%;
		z-index: 5;

		.hero-d {
			height: inherit;
			background: linear-gradient(180deg,
					rgba(0, 0, 0, 0) 11.51%,
					rgba(0, 0, 0, 0.85) 100%);
		}

		h1 {
			font-family: $ff-raleway;
			font-size: rem(26);
			font-weight: 700;
			text-transform: none;
			width: 75%;
			display: block;
			padding-top: 55vh;
			color: white;
			margin-left: 10vw;
			margin-right: auto;
			line-height: rem(35);
		}

		.home-call {
			color: white;
			display: inline-block;

			margin-left: 10vw;
			border: $blue 2px solid;
			// box-shadow: inset 0px 0px 0px 2px $blue;
			padding: 5% 15%;
			margin-top: 5vh;
			text-transform: uppercase;
			font-family: $ff-poppins;
			font-weight: medium;
			letter-spacing: 14%;
		}
	}
}

//version tablette
@media screen and (min-width:768px) {
	//content
}

@media screen and (min-width:1280px) {
	//content
}