@media screen and(max-width:767px) {
	.lang-switch2 {
		position: fixed;
		left: 0;
		right: auto;
		cursor: pointer;
		top: 50vh;
		z-index: 15;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $blue;
		width: 28px;
		height: 69px;
		color: white;

		font-family: $ff-poppins;
		font-weight: $fw-medium;
		font-size: rem(10);
		letter-spacing: 0.04em;
		a {
			color: white;
		}
	}
	.gros-background {
		width: 100%;
		overflow: hidden;
		background-image: url("../images/bg-road.webp");
		background-color: black;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		height: 100vh;
		.bg-noir {
			background-color: rgba(0, 0, 0, 0.85);
			height: inherit;
			padding-bottom: 2vh;
			.cont-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				// max-width: 100vw;
				img {
					margin-top: 5vh;
					margin-bottom: 5vh;
					width: 60vw;
					height: auto;
				}
			}
			.cont-droit-d {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 5vh;
				margin-left: 20vw;
				margin-bottom: auto;
				h1 {
					// text-align: center;

					margin-left: 0vw;
					display: block;
					width: 85%;
					font-family: $ff-raleway;
					font-size: rem(18);
					font-weight: bold;
					color: white;
					// margin-top: 5vh;
					margin-bottom: 5vh;
					line-height: rem(26);
					&:last-of-type {
						margin-top: 10vh;
						// background-color: red;
					}
					br {
						display: none;
					}
				}

				a {
					margin-top: 5vh;
					margin-bottom: 5vh;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 0vw;
					width: 65vw;
					height: 70px;
					// padding: 5% 20%;
					// width: fit-content;
					border: 1px solid $blue;
					color: white;
				}
				span {
					display: block;
					background-color: $blue;
					width: 80vw;
					height: 2px;
					margin-left: auto;
				}
			}
		}
	}
}

//version pour la tablette ici
@media screen and(min-width:768px) {
	.lang-switch2 {
		position: fixed;
		left: 0;
		right: auto;
		cursor: pointer;
		top: 50vh;
		z-index: 15;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $blue;
		width: 28px;
		height: 69px;
		color: white;

		font-family: $ff-poppins;
		font-weight: $fw-medium;
		font-size: rem(10);
		letter-spacing: 0.04em;
		a {
			color: white;
		}
	}
	.gros-background {
		width: 100%;
		overflow: hidden;
		background-image: url("../images/bg-road.webp");
		background-color: black;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		height: 100vh;
		.bg-noir {
			background-color: rgba(0, 0, 0, 0.85);
			height: inherit;
			padding-bottom: 2vh;
			.cont-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				// max-width: 100vw;
				img {
					margin-top: 5vh;
					margin-bottom: 5vh;
					width: 35vw;
					height: auto;
				}
			}
			.cont-droit-d {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 5vh;
				margin-bottom: auto;
				h1 {
					// text-align: center;

					margin-left: 25vw;
					margin-bottom: 5vh;
					&:last-of-type {
						margin-top: 10vh;
						// background-color: red;
					}
					display: block;
					width: 45%;
					font-family: $ff-raleway;
					font-size: rem(22);
					font-weight: bold;
					color: white;
					line-height: rem(30);
					br {
						display: none;
					}
				}
				a {
					margin-top: 5vh;
					margin-bottom: 5vh;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 25vw;
					// padding: 25px 8%;
					// width: fit-content;
					border: 2px solid $blue;
					font-size: rem(12);
					font-family: $ff-poppins;
					text-transform: uppercase;
					letter-spacing: 0.04em;
					line-height: rem(18);
					font-weight: 600;
					color: white;
					height: 70px;
					// padding: 2% 5%;
					width: 30vw;
				}
				span {
					display: block;
					background-color: $blue;
					width: 75vw;
					height: 2px;
					margin-left: auto;
				}
			}
		}
	}
}

//version desktop va ici
@media screen and(min-width:1280px) {
	.gros-background {
		width: 100%;
		overflow: hidden;
		background-image: url("../images/bg-road-d.webp");
		background-color: black;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
		height: 100vh;
		.bg-noir {
			background-color: rgba(0, 0, 0, 0.85);
			height: inherit;
			padding-bottom: 2vh;
			display: flex;
			.cont-logo {
				display: flex;
				justify-content: center;
				align-items: center;
				// max-width: 100vw;
				margin-left: 10%;
				img {
					margin-top: 5vh;
					width: 25vw;
					height: auto;
				}
			}
			.cont-droit-d {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-top: auto;
				margin-bottom: auto;
				margin-left: 25vw;
				h1 {
					// text-align: center;

					margin-left: 0;
					display: block;
					width: 50%;
					font-family: $ff-raleway;
					font-size: rem(30);
					font-weight: bold;
					color: white;
					line-height: rem(26);
					margin-bottom: 5vh;
					&:last-of-type {
						margin-top: 10vh;
						// background-color: red;
					}
				}
				$transition-bezier: 1, 0, 0, 1;
				$transition-len: 0.35s;
				a {
					margin-top: 5vh;
					margin-bottom: 5vh;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 0vw;
					position: relative;
					height: 70px;
					// padding: 2% 5%;
					width: 14vw;
					border: 1px solid $blue;
					color: white;
					z-index: 20;
					transition: all $transition-len
						cubic-bezier($transition-bezier);
					&:hover {
						color: white;
						z-index: 5;
						text-decoration: none;
					}
					&::before,
					&::after {
						content: "";
						position: absolute;
						z-index: -1;
						transition: all $transition-len
							cubic-bezier($transition-bezier);
					}
				}
				.btn-color {
					// border-color: $pink;
					// color: $pink;

					&::before,
					&::after {
						background: $blue;
					}
				}
				.btn-l-r {
					&::after {
						height: 69px;
						width: 0;
						top: 0;
					}
					&:hover::after {
						width: 14vw;
						z-index: -1;
					}
					&::after {
						left: 0;
					}
				}
				.btn-l-r2 {
					&::after {
						height: 69px;
						width: 0;
						top: 0;
					}
					&:hover::after {
						width: 14vw;
						z-index: -1;
					}
					&::after {
						left: 0;
					}
				}

				span {
					display: block;
					background-color: $blue;
					width: 70vw;
					position: relative;
					height: 2px;
					margin-left: auto;
				}
			}
		}
	}
}
