//version mobile ici
@media screen and (max-width:767px) {
	.veh-hero {
		background-image: url("../images/vehi-hero.webp");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		width: 100%;
		height: 15vh;
	}

	//le css pour le carousel est dans un autre fichier
	// --> /src/scss/components/vehicules/_carousel.scss
	section.veh-extra {
		.veh-cont-gris {
			display: flex;
			flex-direction: column;
			// padding-top: 15px;
			// padding-bottom: 15px;
			width: 100%;
			height: 140px;
			// justify-content: center;
			padding-left: 10vw;
			background-color: $gray;

			h3 {
				width: 60%;
				font-family: $ff-raleway;
				font-weight: $fw-extra-bold;
				font-size: rem(15);
				color: $black;
				display: inline-block;
				margin-top: 40px;

				text-transform: uppercase;

				&>span {
					color: $blue;
				}
			}

			.veh-sep {
				background-color: rgba(0, 0, 0, 0.2);
				width: 90%;
				height: 2px;
			}
		}

		div.veh-btn-contact {
			display: flex;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			height: 100px;
			margin-bottom: 65px;
			// margin-top: 100px;
			position: relative;
			top: -20px;
			border: solid 2px $blue;
			box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

			a.veh-btn-contact {
				margin: auto;
				color: $black;
				font-family: $ff-poppins;
				font-weight: $fw-medium;
				font-size: rem(16);
				letter-spacing: 4%;
				text-transform: uppercase;
			}
		}
	}
}

//version tablette ici
@media screen and (min-width:768px) {
	//content
}

//version desktop ici
@media screen and (min-width:1280px) {
	//content
}