//version pour le desktop
@media screen and(min-width:1280px) {
	.veh-hero {
		background-image: url("../../../images/veh-home-bg-d.webp");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		// background-attachment: fixed;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 50vh;
	}
	section.veh-extra {
		margin-top: 100px;
		display: flex;
		margin-bottom: 75px;
		.veh-cont-gris {
			display: flex;
			flex-direction: column;
			// padding-top: 15px;
			// padding-bottom: 15px;
			width: 80%;
			height: 300px;
			justify-content: center;
			padding-left: 5vw;
			background-color: $gray;
			h3 {
				width: 80%;
				font-family: $ff-raleway;
				font-weight: $fw-extra-bold;
				font-size: rem(30);
				color: $black;
				display: inline-block;
				margin-top: 0px;

				text-transform: uppercase;
				span {
					color: $blue;
				}
			}
			.veh-sep {
				background-color: rgba(0, 0, 0, 0.2);
				width: 85%;
				height: 2px;
			}
		}
		$transition-bezier: 1, 0, 0, 1;
		$transition-len: 0.35s;
		$pink: #f93195;
		div.veh-btn-contact {
			display: flex;
			width: 30vw;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			height: 160px;
			margin-bottom: 165px;
			// margin-top: 100px;
			position: relative;
			top: 70px;
			left: -5vw;
			border: solid 2px $blue;
			box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
			z-index: 20;
			transition: all $transition-len cubic-bezier($transition-bezier);
			&:hover {
				a {
					color: white;
					// background-color: red;
				}
				z-index: 5;
				text-decoration: none;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				transition: all $transition-len cubic-bezier($transition-bezier);
			}
			a.veh-btn-contact {
				margin: auto;
				color: $black;
				font-family: $ff-poppins;
				font-weight: $fw-medium;
				font-size: rem(16);
				letter-spacing: 4%;
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
					color: white;
				}
			}
		}
		.btn-color {
			// border-color: $pink;
			// color: $pink;

			&::before,
			&::after {
				background: $blue;
			}
		}
		.btn-l-r {
			&::after {
				height: 158px;
				width: 0;
				top: 0px;
			}
			&:hover::after {
				// @media screen and(min-width:1350px) {
				// 	width: 15.2vw;
				// }
				// @media screen and(min-width:1500px) {
				// 	width: 15.7vw;
				// }
				width: 26.9vw;
				z-index: -1;
			}
			&::after {
				left: 0vw;
			}
		}
	}
}
