//version pour la tablette
@media screen and(min-width:768px) {
	//contcjhgvjhgv
	.veh-hero {
		background-image: url("../images/vehi-hero.webp");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 25vh;
	}
	section.veh-extra {
		margin-top: 100px;
		.veh-cont-gris {
			display: flex;
			flex-direction: column;
			// padding-top: 15px;
			// padding-bottom: 15px;
			width: 100%;
			height: 210px;
			// justify-content: center;
			padding-left: 10vw;
			background-color: $gray;
			h3 {
				width: 80%;
				font-family: $ff-raleway;
				font-weight: $fw-extra-bold;
				font-size: rem(22);
				color: $black;
				display: inline-block;
				margin-top: 70px;

				text-transform: uppercase;
				& > span {
					color: $blue;
				}
			}
			.veh-sep {
				background-color: rgba(0, 0, 0, 0.2);
				width: 90%;
				height: 2px;
			}
		}
		div.veh-btn-contact {
			display: flex;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			justify-content: center;
			height: 100px;
			margin-bottom: 165px;
			// margin-top: 100px;
			position: relative;
			top: -20px;
			border: solid 2px $blue;
			box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);

			a.veh-btn-contact {
				margin: auto;
				color: $black;
				font-family: $ff-poppins;
				font-weight: $fw-medium;
				font-size: rem(16);
				letter-spacing: 4%;
				text-transform: uppercase;
			}
		}
	}
}
