//version pour le desktop
@media screen and (min-width:1280px) {

	//content
	.leform {
		width: 75%;

		// margin-left: 5vw;
		label {
			text-transform: uppercase;
			color: $black;
			font-family: $ff-poppins;
			font-weight: $fw-bold;
			font-size: rem(12);
			line-height: rem(24);
		}

		.label-trans {
			display: inline-block;
			margin-top: 25px;
		}

		input,
		select {
			width: 100%;
			border-radius: 0px;
			background-color: $gray;
			margin-top: 10px;
			margin-bottom: 10px;
			border: none;
			border-right: solid 3px $blue;
		}

		.select-selected {
			// -webkit-appearance: none;
			// background-color: red;
		}

		.select-selected:after {
			position: absolute;
			content: "";
			top: 14px;
			right: 10px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-color: #fff transparent transparent transparent;
		}

		.cont-radio {
			display: flex;
			flex-direction: column;

			.cont-radio-1,
			.cont-radio-2 {
				display: flex;

				.container {
					display: flex;
					position: relative;
					align-items: center;
					padding-left: 4vw;
					padding-top: 5px;
					margin-bottom: 12px;
					text-transform: none;
					cursor: pointer;
					font-size: rem(10);

					user-select: none;
				}

				/* Hide the browser's default radio button */
				.container input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}

				/* Create a custom radio button */
				.checkmark {
					position: absolute;
					top: 10px;
					left: 2vw;
					height: 15px;
					width: 15px;
					background-color: #eee;
					border-radius: 50%;
				}

				/* On mouse-over, add a grey background color */
				.container:hover input~.checkmark {
					background-color: #ccc;
				}

				/* When the radio button is checked, add a blue background */
				.container input:checked~.checkmark {
					background-color: #2196f3;
				}

				/* Create the indicator (the dot/circle - hidden when not checked) */
				.checkmark:after {
					content: "";
					position: absolute;
					display: none;
				}

				/* Show the indicator (dot/circle) when checked */
				.container input:checked~.checkmark:after {
					display: block;
				}

				.container .checkmark:after {
					top: 5.2px;
					left: 5.2px;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: white;
				}

				/* Style the indicator (dot/circle) */
			}

			[type="checkbox"] {
				width: fit-content;
				text-align: left;
				border: none;
				background-color: red;
			}

			.radio {
				text-transform: none;

				font-weight: $fw-medium;
				margin-left: 5vw;
				height: fit-content;
			}
		}

		.cont-partie-2 {
			.info-rm-supp {
				display: flex;
				flex-direction: column;

				label {
					margin-bottom: 10px;
				}

				textarea {
					width: 100%;
					border-radius: 0;
					background-color: $gray;
					border: none;
					height: 200px;
					border-right: 4px solid $blue;
					margin-bottom: 30px;
					resize: none;
				}
			}

			label:first-child {
				display: inline-block;
				margin-top: 25px;
			}

			p.partie-2-p {
				margin-right: 0;

				&:nth-child(2) {
					width: 100%;
					margin-left: 0;
					font-family: $ff-poppins;
					font-weight: $fw-medium;
					font-size: rem(10);
					color: $black;
					line-height: normal;
				}
			}

			#num-id {
				margin-bottom: 35px;
			}

			select {
				margin-bottom: 55px;
			}
		}

		/* [type="submit"] */
		$transition-bezier: 1, 0, 0, 1;
		$transition-len: 0.35s;
		$pink: #f93195;

		.rm-sub {
			background-color: #fff;
			border: $blue 2px solid;
			// display: block;
			width: 100%;
			font-size: rem(12);
			font-weight: $fw-medium;
			letter-spacing: 0.04em;
			height: 60px;
			position: relative;
			z-index: 20;
			transition: all $transition-len cubic-bezier($transition-bezier);

			&:hover {
				color: white;
				z-index: 5;
				text-decoration: none;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				transition: all $transition-len cubic-bezier($transition-bezier);
			}
		}

		.btn-color {
			// border-color: $pink;
			// color: $pink;

			&::before,
			&::after {
				background: $blue;
			}
		}

		.btn-l-r {
			&::after {
				height: 58px;
				width: 0;
				top: 0px;
			}

			&:hover::after {
				// @media screen and (min-width:1280px) {
				// 	width: 15.8vw;
				// }
				// @media screen and (min-width:1350px) {
				// 	width: 15.2vw;
				// }
				// @media screen and (min-width:1500px) {
				// 	width: 15.7vw;
				// }
				width: 100%;
				z-index: -1;
			}

			&::after {
				left: 0vw;
			}
		}

		padding-bottom: 50px;
		margin-bottom: 0;
	}
}