//version pour le desktop
@media screen and(min-width:1280px) {
	.cus-hero {
		background-image: url("../../../images/cus-bg-d.webp");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: 0% 80%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 50vh;
	}
	section.cus-carousel {
		.cus-cont-title {
			width: 100%;
			display: flex;
			margin-top: 25px;
			align-items: center;
			justify-content: space-between;

			span {
				width: 55vw;
				height: 4px;
				background-color: $blue;
			}
			h1 {
				color: $blue;
				font-family: $ff-raleway;
				font-weight: $fw-light;
				font-size: rem(100);
				text-transform: none;
				margin-left: auto;
				margin-right: 5vw;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.cont-slider-m {
			display: none;
		}
		.swiper {
			display: none;
		}
		.cont-slider-d {
			overflow: hidden;
			// overflow-y: visible;
			display: block;
			width: 80vw;
			margin: auto;
			margin-top: 30px;
			.slides {
				display: -webkit-box;
				width: 100%;
				.cont-slide {
					width: 100%;
					height: fit-content;
					position: relative;
					margin-right: 10px;
					margin-bottom: 155px;
					.container {
						display: grid;
						width: 100%;
						grid-template-columns: 1fr 1fr 1fr;
						grid-template-rows: 1f 1fr;
						gap: 200px 15vw;
						.carte {
							img {
								height: auto;
							}
							// background-color: red;
						}
					}
				}
			}
		}
		.swiper2 {
			overflow: hidden;
			// overflow-y: visible;
			display: block;
			width: 80vw;
			margin: auto;
			margin-top: 30px;
			.swiper-wrapper {
				display: -webkit-box;
				width: 100%;
				.swiper-slide {
					width: 100%;
					height: fit-content;
					position: relative;
					margin-right: 10px;
					margin-bottom: 155px;
					.container {
						display: grid;
						width: 100%;
						grid-template-columns: 1fr 1fr 1fr;
						grid-template-rows: 1f 1fr;
						gap: 200px 15vw;
						.carte {
							img {
								height: auto;
							}
							// background-color: red;
						}
					}
				}
			}
		}

		.cont-nav-carou {
			width: 90%;
			display: flex;
			// justify-content: center;
			// margin-left: 0;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 100px;
			span {
				background-color: $gray;
				width: 40%;
				height: 4px;
				&:first-child {
					display: block;
					margin-right: auto;
					margin-left: 0;
				}
				&:last-child {
					display: block;
					margin-left: auto;
					margin-right: 0;
				}
			}
			.cont-fleche-carou {
				display: flex;
				margin-bottom: 100px;
				// width: 70%;
				// justify-content: space-between;
				img {
					&:first-child {
						transform: scaleX(-1);
						margin-right: 20px;
					}
				}
			}
		}
	}
}
