//version pour le desktop
@media screen and(min-width:1280px) {
	.carr-actual-content {
		.chapeau {
			display: none;
			width: 90%;
			margin-left: auto;
			background-color: white;
			height: 90px;
		}
		// padding-top: 90px;
		background-color: $gray;
		margin-left: auto;
		margin-right: 5vw;
		width: 30%;
		overflow-x: hidden;
		position: absolute;
		left: 100%;
		right: 0vw;
		img {
			max-width: 100%;
			display: block;
			position: relative;
			right: 0;
		}
		.carr-cont-cpt {
			// margin-left: auto;
			// margin-right: auto;
			margin-top: 50px;
			margin-bottom: 70px;
			width: 90%;
			h4 {
				font-family: $ff-poppins;
				font-weight: $fw-bold;
				font-size: rem(18);
				color: $black;
				line-height: rem(24);
				margin-bottom: 0;
				margin-left: 3vw;
				margin-right: auto;
			}
			p {
				margin-left: 3vw;
				margin-top: 15px;
				font-family: $ff-poppins;
				font-weight: $fw-regular;
				font-size: rem(12);
				line-height: rem(20);
				color: #16191b;
				width: inherit;
				&:last-child {
					padding-bottom: 50px;
				}
			}
			.ligne-dotted {
				display: block;
				width: 90%;
				height: 0px;
				margin-bottom: 50px;
				border: 1px dashed $blue;
				margin-left: 3vw;
				// margin-right: auto;
			}
		}
	}
}
