@media screen and(max-width:767px) {
	//section formulaire
	.formulaire {
		.carr-para-form {
			width: 85%;
			margin-left: 10vw;
			p {
				width: inherit;
				font-family: $ff-poppins;
				font-weight: $fw-regular;
				font-size: rem(12);
				color: #16191b;
				&:last-child {
					margin-bottom: 70px;
				}
			}
		}
		.carr-cont-form {
			width: 85%;
			margin-left: 10vw;
			form {
				display: flex;
				flex-direction: column;
				label {
					font-family: $ff-poppins;
					font-weight: $fw-bold;
					font-size: rem(10);
					text-transform: uppercase;
					line-height: rem(24);
					color: $black;
				}
				input,
				textarea {
					width: 85%;
					border-radius: 0;
					background-color: $gray;
					border: none;
					border-right: 4px solid $blue;
					margin-bottom: 30px;
					resize: none;
				}
				textarea {
					height: 130px;
				}
				.carr-last-bit {
				}
			}
		}
	}
}

//version pour la tablette
@media screen and(min-width:768px) {
	//content
}

//version pour le desktop
@media screen and(min-width:1280px) {
	//content
}
