//version pour le desktop

@media screen and (min-width:1280px) {
	#cont-confirm {
		position: absolute;
		top: 250px;
		background-color: #fff;
		left: 50%;
		transform: translateX(-50%);
		padding: 2% 10%;
		width: fit-content;
		z-index: 1;
		animation: nope ease-out 300ms forwards;
		animation-delay: 5s;
	}

	.mail-sent {
		display: block;
		width: fit-content;
		opacity: 1;
		animation: mail ease-out 300ms forwards;
		animation-delay: 5s;
	}

	@keyframes nope {
		from {
			position: absolute;
			// top: 150px;
			// left: 40vw;
			z-index: 1;
		}

		to {
			position: absolute;
			// top: 150px;
			// left: 40vw;
			z-index: -1;
		}
	}

	@keyframes mail {
		0% {
			display: block;
			opacity: 1;
		}

		99% {
			opacity: 0;
		}

		100% {
			opacity: 0;
			display: none;
		}
	}

	.formulaire {
		background-image: url("../images/carr-form-bg-d.webp");
		background-size: 80%;
		background-position: -30vw 100%;
		background-repeat: no-repeat;
		height: 1305px;

		.carr-para-form {
			width: 70%;
			margin-left: 5vw;
			// margin-left: auto;
			margin-right: auto;
			margin-top: 550px;

			p {
				width: inherit;
				font-family: $ff-poppins;
				font-weight: $fw-regular;
				font-size: rem(16);
				line-height: rem(26);
				color: #16191b;

				&:last-child {
					margin-bottom: 70px;
				}
			}
		}

		.carr-cont-form {
			width: 85%;
			margin-left: 5vw;
			margin-right: auto;

			form {
				display: flex;
				flex-direction: column;

				label {
					font-family: $ff-poppins;
					font-weight: $fw-bold;
					font-size: rem(12);
					text-transform: uppercase;
					line-height: rem(24);
					color: $black;
				}

				input,
				textarea {
					width: 60%;
					border-radius: 0;
					height: 40px;
					background-color: $gray;
					border: none;
					border-right: 4px solid $blue;
					margin-bottom: 30px;
					resize: none;
				}

				textarea {
					height: 130px;
				}

				.carr-cont-last-bit {
					//might need this but not working properly
					// background-image: url("../images/last-card-bg-m.webp");
					// background-size: 100%;
					// background-position: 90% 50%;
					margin-bottom: 100px;
				}

				.carr-last-bit {
					.carr-last-bit-t {
						display: block;

						div {
							display: flex;
							justify-content: space-between;
							align-items: center;
							height: 65px;

							&:last-child {
								margin-bottom: 50px;
							}
						}

						width: 60%;

						p {
							width: 100%;
							font-size: rem(12);
						}

						.file-label {
							position: relative;
							top: 20px;
							width: 25%;
							cursor: pointer;
						}
					}

					p {
						font-family: $ff-poppins;
						font-weight: $fw-regular;
						font-size: rem(12);
						line-height: rem(26);
						color: #16191b;
					}

					#file-upload-cv,
					#file-upload-letter {
						display: block;
						opacity: 0;
						border: none;
						width: 1px;
					}

					.file-label {
						display: flex;
						justify-content: center;
						align-items: center;
						// width: 21vw;
						font-size: rem(10);
						height: 30px;
						box-shadow: none;
						background-color: $blue;
						color: white;
						padding: 10px 25px;
						font-family: $ff-poppins;
						font-weight: $fw-medium;
						letter-spacing: 4%;
						margin-bottom: 50px;
					}

					$transition-bezier: 1, 0, 0, 1;
					$transition-len: 0.35s;
					$pink: #f93195;

					.carr-send-btn {
						display: block;

						// margin-left: 5vw;
						width: 60%;
						height: 60px;
						// margin-right: auto;
						background-color: transparent;
						border: 2px solid $blue;
						position: relative;

						font-family: $ff-poppins;
						font-weight: $fw-medium;
						font-size: rem(12);
						letter-spacing: 4%;
						padding-top: 20px;
						padding-bottom: 20px;
						z-index: 15;
						cursor: pointer;
						transition: all $transition-len cubic-bezier($transition-bezier);

						&:hover {
							color: white;
							z-index: 15;
							text-decoration: none;
						}

						&::before,
						&::after {
							content: "";
							position: absolute;
							z-index: -1;
							transition: all $transition-len cubic-bezier($transition-bezier);
						}
					}

					.btn-color {
						// border-color: $pink;
						// color: $pink;

						&::before,
						&::after {
							background: $blue;
						}
					}

					.btn-l-r {
						&::after {
							height: 58px;
							width: 0;
							top: 0px;
						}

						&:hover::after {
							width: 100%;
							z-index: -1;
							cursor: pointer;
						}

						&::after {
							left: 0px;
						}
					}
				}
			}
		}
	}
}